.calculator {
    width: 200px;
}

.monitor {
    height: 50px;
    margin-bottom: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
}

.result {
    height: 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row-reverse;
    padding: 0 0.4rem;
}

.control {
    /* border: 1px solid black; */
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 3px;
}

.button {
    height: 20px;
    border-radius: 5px;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:active {
    transform: scale(1.05);
}

.button.number {
    background-color: hsl(200,12%,95%);;
}

.button.symbol {
    background-color: hsl(220,9%,87%);
}

.button.equal-sign {
    background-color: hsl(217,89%,61%);
    color: white;
}

