.calculator {
    width: 600px;
}

.monitor {
    height: 105px;
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0;
}

.previous-calculation {
    height: 36px;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 15px;
    font-size: 1.8rem;
    color: rgba(0,0,0,0.7);
}

.result {
    height: 60px;
    font-size: 3rem;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 15px;
}

.control {
    /* border: 1px solid black; */
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 6px;
}

.button {
    height: 60px;
    border-radius: 5px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:active {
    transform: scale(1.05);
}

.button.number {
    background-color: hsl(200,12%,95%);;
}

.button.symbol {
    background-color: hsl(220,9%,87%);
}

.button.equal-sign {
    background-color: hsl(217,89%,61%);
    color: white;
}

.hidden {
    visibility: hidden;
}

